<% provide(:bar, 'helpleftbar') %>
<div class='row-fluid'>
<div class='span2'><%= bar(yield(:bar)) %></div>
<div class='span8'>
<h5>当您对产品质量或服务有不满之处，欢迎及时向我们反馈。</h5>
<br/>



<h5>————投诉时间说明————</h5>
<br/>

<small>鲜花类商品请在签收后24小时内发起投诉；</small><br/>
<small>非鲜花类商品请在签收后7日内发起投诉。</small><br/>
<small>敬请留意以上时效要求，逾期我们将不予以受理。</small>
<br/><br/>

<h5>————投诉方式————</h5>
<br/>

<small>客服热线： 400-9200-108</small><br/>
<small>客服邮箱：service@thebeastshop.com</small>
<br/><br/>

<h5>————投诉处理————</h5>
<br/>

<small>野兽派承诺，将在收到你的投诉后24小时内进行回复。</small>
<br/><br/>

<h5>如果出现以下情况，将不作为投诉处理：</h5>
<br/>

<small>1、由于个人主观喜好或审美对收到的商品有异议而造成的投诉。</small><br/>
<small>2、因不可抗力造成的相关配送问题特别是鲜花类有时效性的产品。</small><br/>
<small>3、由于某些花材临时短缺，我们采用等值（或更高价值）的花材进行替换后，而造成的略有不同。</small>
<br/><br/>

<h5>————产品退换货政策————</h5>
<br/>
 

<small>任何取消或修改订单的需求，请及时联系客服【热线电话：400-9200-108；客服邮箱：service@thebeastshop.</small>com】

<small>鲜花商品： 订单一旦生成，如需取消或修改订单，请务必于预定收货日期的48小时之前提出。</small>

非鲜花商品： 对于所售的非鲜花商品，因质量问题造成的退换货需求，客户自商品签收之日（以物流签收单时间为准）起7日内，如商品未经穿着、未经使用；商品及包装保持出售时原状；商品吊牌及配件齐全，已开据发票的商品需同时退回发票；我们将提供退<small>换货的服务。</small><br/>


<h5>以下情况将不提供退换货服务：</h5><br/>
<small>1、任何非野兽派出售的商品；</small><br/>
<small>2、任何已使用商品；</small><br/>
<small>3、任何因非正常使用、保管或保养不当而导致质量问题的商品；</small><br/>
<small>4、商品已开具发票但发票未退回野兽派。</small><br/>
<small>5、商品无任何质量问题，因个人喜好（气味，色泽、型号，外观）要求的退换货将无法受理。</small><br/>
<br/>

<small>特别说明：</small>
<small>1、由于鲜花商品的特殊性，将不接受退货，如有质量问题，请在签收后24小时内联系客服。</small><br/>
<small>2、关于退换货产生的运费：由于商品本身质量问题造成的退还，运费由野兽派承担。</small><br/>
<small>3、商品及信息仅供参考，因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有一定色差，一切以实物为准。</small>
</div>
<div class='span2'></div>
</div>