<% provide(:bar, 'helpleftbar') %>


<h6>客服邮箱：service@thebeastshop.com【野兽派客服邮箱，接受各种问题和意见，欢迎来邮】</h6>


<h6>合作邮箱：PR@thebeastshop.com【接受媒体、品牌合作咨询及建议，欢迎合作】</h6>


<h6>企业客户专线：021-32580720 【接受企业、品牌合作咨询，欢迎拨打】</h6>



<h6>温馨提示</h6>

<small>野兽派只此一家，绝无分店，也无任何形式的加盟店。</small>

<small>官方网站：www.thebeastshop.com</small>

<small>官方微博：@野兽派花店（只在新浪微博）</small>


<h6>请大家擦亮双眼，不要被山寨版野兽派欺骗。</h6>