<% provide(:bar, 'helpleftbar') %>

<h5>Q：为什么我收到的花跟网上的图片不太一样？</h5>
<small>A：花开花谢不由人啊，鲜花是季节性商品，某些花材可能由于天气、运输等突发状况而出现缺货。此时，花艺师将在不影响花艺整体效果的情况下，用等值或高于原花材价格的新花材进行创作。因此，您收到的花可能跟网站上的图片不太一样。希望您的惊喜程度相当。
</small>
<br/>
<h5>Q：鲜花一般提前多久预订？如果要的急，可以临时加单吗？</h5>
<small>A：您可以预订自下单日后两天至七天这5日之内的花，由于花材供应的原因，您不能预订比这更久以后的鲜花。因此，您只需要提前一周至48小时预订。如果急需用花，可在野兽派工作时间内（周一至周五9:00-21:00；周六10:00-18:00)致电客服妹子咨询试试运气:)【热线电话：400-9200-108】。
</small>
<br/>
<h5>Q：我定制花束时提供的故事，可以为我保密吗？</h5>
<small>A：如果您选择的是定制花束，我们会需要您尽可能多地提供相关信息，以便花艺师进行创作。这些信息可以但不一定是：收花人的性格、个人喜好、使用的场合、你与他/她之间的故事。这些信息，我们默认您允许野兽派在微博中与大家分享，但我们绝不会透露任何实名。感谢那些有故事的人们，野兽派才成为一个温暖有爱的小世界。
 如果您并不希望您的故事被更多人知道，请在预订定制花束时备注说明不愿微博分享故事。
</small>
<br/>
<h5>Q：可以不让收货人知道我的任何信息吗？</h5>
<small>A：我们发出的货品内外包装上是没有收件人的任何信息的，也就是默认匿名送出。即使收货人联系我们，希望知道收件人的信息，我们也会第一时间询问您，是否可以向对方透露您的信息。请放心，您的秘密也是我们的秘密:)
</small>
<br/>
<h5>Q: 我怎么知道货物何时送到？</h5>
<small>A：您可以在登陆的状态下进入“我的野兽派”，查看“我的订单”，里面会显示详细的物流状态信息。
 如您购买的是鲜花商品，我们会根据您要求的收花日期安排发件，根据实际经验，90%以上的客人都万事如意。万一出现因物流异常而延误的状况，您会收到客服妹子焦急的电话，跟您说明情况。如果鲜花因迟到而出现质量问题，请在收到花后的24小时内及时与我们联系。详情请查看售后服务。
 如您购买的是非鲜花商品，我们会在订单确认后的24小时内发货，通常情况下会在72小时内收到，香水蜡烛类商品由于不能空运，运输时间将延长1-2天。详情请查看物流配送。
 如果您还没有收到货物，请先确认货物是否已被家人、门卫或公司前台代为签收，及时与我们联系。【热线电话：400-9200-108】
	</small>
	<br/>
	<h5>Q：如果我同时购买了鲜花商品和非鲜花商品，可以同时送到吗？</h5>
	<small>A：由于鲜花商品有特殊的包装规范和物流要求，它和非鲜花商品需分别打包配送，因此我们很难保证所有包裹同时到达。换个角度想，收到一次礼物，和收到两次礼物，算是双倍惊喜。
	</small>
	<br/>
	<h5>Q：我需要发票怎么办？</h5>
	<small>A：如您需要开具发票，请在订单的“备注信息”栏内填写下列内容：发票抬头（公司名称或个人）、发票内容（鲜花或礼品）、快递地址、收件人姓名和联系电话。
	</small>
	<small>（备注：如您未在订单中填写这些信息，也可在发货前将这些信息告诉客服妹子，她会给您备注在订单上；或者您也可以在收到货后的七天之内联系我们。发票开出后，我们会免费以快递或挂号信的方式寄给您。）
</small>

