<% provide(:bar, 'helpleftbar') %>
<div class='row-fluid'>
<div class='span2'><%= bar(yield(:bar)) %></div>
<div class='span8'>
<h5>————新用户注册————</h5>
<br/>
<small><%= link_to "点击这里进入注册页面", '#' %></small>
<br/>
<h5>————购物流程————</h5>
<br/>
<small>第一步：选购</small><br/>
<small>浏览或搜索您所需要的商品，点击“加入购物车”。</small>
<br/><br/>
<small>第二步：加入购物车</small><br/>
<small>放入购物车后，如果您还想继续选购商品，点击购物车中的“继续购物”或者直接进入其它页面、搜索商品继续购买。如果您已经选好希望购买的商品，可以点击屏幕右上方的购物车按钮，查看购物车中的商品。然后选择“结算”。</small>
<br/><br/>
<small>第三步：登录/注册</small><br/>
<small>如果您尚未注册登记过，请点击注册页面，只需要几秒，填写基本的注册信息，完成注册，然后登录。</small>
<br/><br/>
<small>第四步：填写详细收货信息</small><br/>
<small>请您详细准确地填写您的收货地址、Email、电话、邮编等资料。</small>
<br/><br/>
<small>第五步：确认商品信息</small><br/>
<small>请确认您购买的商品信息。同时选择祝福卡片。野兽派将为您选购的每一件商品免费赠送一张祝福卡，您可以选择空白卡片或者野兽派设计的主题卡，或者您提供内容由我们为您手写一张卡片。您也可以选择不需要卡片。</small>
<br/><br/>
<small>第六步：付款</small><br/>
<small>我们的付款方式是支付宝，点击“提交订单”按钮，检查信息，如果没有问题，点击“确认提交”按钮。</small>
<br/><br/>
<small>第七步：生成订单</small><br/>
<small>请您记住订单编号以便查询。</small>
<br/><br/>
<small>第八步：客服妹子核实订单</small><br/>
<small>如果有特殊情况，客服妹子会给您打电话核实订单，核实产品，确认您的收货信息等。</small>
<br/><br/>
<small>第九步：发货</small><br/>
<small>我们会根据您选择的收货日期按时发货。在等候收货期间，您可以登录网站，在“我的野兽派”中查询订单的物流状态。</small>
<br/><br/>
<small>第十步：收货和反馈</small><br/>
<small>签收货物后，如果您对商品质量或服务不满意，请及时向我们反馈。详情请查看售后服务。</small>
<br/><br/>
<h5>————订单查询————</h5>
<br/>
<small>登录后，进入“我的野兽派”可以查询订单状态</small>
<br/><br/>
<h5>————忘记密码————</h5>
<br/>
<small><%=link_to "点击这里重新设置密码", '#' %></small>
</div>
<div class='span2'></div>
</div>