<% provide(:bar, 'helpleftbar') %>
<h5>————对个人资料的保密————</h5><br/>

   <small>您的个人资料有助于我们辨识或联络您。当您加入会员或购买商品时，可能会要求您填写一些个人资料，如姓名、性别、生日、电子信箱及地址等，其目的是要增进对您的了解，并提供更佳的服务。</small><br/><br/>

   <small>当您填写订单时, 我们需要记录您的姓名,联系方式,电子邮箱地址,送货地址和付款方式等信息, 以便处理您的订单和与您联系。为了方便您的下一次购物，我们会保留您的个人资料, 订单信息和服务信息,这样我们能为您设置针对您的个性化服务,并向您推荐您可能会感兴趣的产品。</small> <br/><br/>

   <small>野兽派承诺，您的个人资料除经您同意或政府机关、法院及其他本站应依法提供之情形者外，绝不贩卖或透露给网站以外的其他人及单位，并严禁内部人员私自使用这些资料。</small><br/><br/>

  

<h5>————Cookies的使用————</h5><br/>

   <small>Cookies是在您浏览网页时发送给您的电脑的小型文件，用于存储且有时可用于追踪与您对网站的使用相关的信息。当您进入野兽派的网站时，我们的网络服务器将会向您的电脑发送一份用于识别您电脑的Cookie。我们利用Cookies来提升您的用户体验及我们网站和服务的质量。这不仅包括追踪您购物车里的商品，在您返回网站时识别您，识别您如何进行网上浏览，包括您此前点击的内容。</small><br/><br/>

   <small>如果您继续使用本网站，您将被视为接受我们的Cookie设置。请您注意限制Cookies的使用将会影响您的用户体验，且有可能令您无法使用我们网站的部分功能。</small><br/><br/>

  

<h5>————著作权声明————</h5><br/>

   <small>本站所有内容，包括但不限于文字、照片、影像、插图、录音、影音、档案、网站画面的安排、网页设计等素材，均受到相关著作权法律的保障。本网站内容或服务 仅供个人、非商业用途之使用，未经内容著作权人之授权，不得转载、公开播送或公开传输。本网站所刊载之内容，或有提供或建立相关链接供第三人使用，该等链接所指向之网页或资料，均为被链接网站所提供，相关权利为该等网站或合法权利人所有。</small> <br/><br/>

   <small>除非另外声明，本站上出现的皆为野兽派的注册商标，版权所有。</small><br/><br/>

   <small>希望本网站能带给您愉悦的浏览经验，同时请您了解为保障知识产权，本网站所刊载之内容，或与其他单位合作之内容，我们不提供任何型式的授权。</small>
