<% provide(:bar, 'helpleftbar') %>
<div class='row-fluid'>
<div class='span2'><%= bar(yield(:bar)) %></div>
<div class='span8'>
<small>————配送范围和时间————</small>
<br/><br/><br/>
<small><strong>野兽派售出的所有商品一律免费包邮。</strong><small><br/><br/>

<small><strong>鲜花商品配送时间和范围：</strong><small><br/>
<small>由于鲜花保存和运输的特殊性，针对不同的鲜花商品，我们的配送范围不尽相同。<small><br/>

<small>故事订花：仅限上海地区订购。<small><br/>

<small>瓶花：仅限上海地区订购。<small><br/>

<small>花束：全国派送，仅限联邦快递24小时内可送达地区<small><br/>

<small>花盒：全国派送，仅限联邦快递24小时内可送达地区。<small><br/><br/>

 

<small>您可以提前2-7天预订鲜花商品，并可以选择这一区间内的期望收件日期。由于花材准备周期的原因，您不能预订比这一时间段更久的鲜花商品。由于生产和配送的原因，鲜花商品在上海市区周日无法送达，外地周日和周一无法送达。请您留意。</small><br/><br/>

<small>上海地区送达时间为13:00-18:00。如要求在特别时段送达，将加收60元服务费（该服务仅限上海中环以内地区），请在确认订单时留意相关选项。外地送达时间以联邦快递实际配送为准。</small><br/><br/>

<small>下单成功后，我们将根据您的要求制作与发货。如无特别情况，我们不会再与您联系确认订单。订单一旦生成，如需取消或修改订单信息（地址，送达日期），请务必于预定收货日期的48小时之前提出。如有质量问题请在签收后24小时内联系客服。</small><br/><br/>

<small><strong>非鲜花商品配送时间和范围：</strong></small><br/>

<small>此类商品配送范围较广，全国一、二级城市和部分三级城市及县乡，只要顺丰快递能到的地方，我们就接受订单。</small><br/>

<small>非鲜花类商品不能指定收件日期，我们会在您付款后的24小时内发货(双休日订单将在周一发货)，送达时间以物流实际配送为准。香水、牙膏、蜡烛等特殊商品，由于运输方式的限制，送达时间无法预估，订购后请随时登录查询物流状态。</small><br/><br/>

<small>————配送说明————</small><br/>

 

<small>1、若以下情况造成订单延迟或无法配送，我们将不承担责任：</small><br/>

<small>A按照送货时间，收货人没有出现在顾客指定的送货地址，而且没有其他人在该处代收货物；</small><br/>

<small>B不可抗力，例如：自然灾害、交通戒严等；</small><br/>

 

<small>2、通常我们默认您允许货物可以代收，如果要求收货人本人签收，请您在订单备注栏中说明；</small><br/>

 

<small>3、在鲜花配送中，如出现以下情况而产生的相关费用（包括但不限于重复配送和花材损耗），将由订货人承担：</small><br/>

<small>A 收货人拒收；</small><br/>

<small>B 在未联系到收货人情况下，顾客仍要求继续配送；</small><br/>

<small>C 按照要求的地址和时间配送到时，无法联系到收货人；</small>
</div>
<div class='span2'></div>
</div>