#credit {
  tr{
    th {
      p {
      text-align: center;
      }
    }
    td {
      width: 150px;
      vertical-align: middle;
      img {
      width: 80px;
      height:80px;
      padding-left:40px;
      }
      p {
        text-align: center;
        padding-top: 20px;
      }
      h4 {
        text-align: center;
      }
    }
    
  }
 }

.credittable {
	input{
	height:30px;
	border-radius: 5px;
	width: 70%;
	}
}