body {
overflow-x: hidden;
overflow-y: scroll;
font-family: MuseoSans,Georgia,"Times New Roman",Times,serif;
font-size: 0.5em;
color: #444;
border-top: 3px solid #444;
background-color: #f2f2de;
overflow-x: hidden;
diaplay: block;
}
.notice {
  padding-left:190px;
  font-size: 15px;
}

p, ol, td, th, a {
  font-family: MuseoSans,Georgia,"Times New Roman",Times,serif;
  font-size: 13px;
  line-height: 18px;

}

pre {
  font-size: 11px;
  border: none;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
/* pubuliu */

.imagebox {
  position: relative;
  left:120px;
  top:20px;
}

.imagecontainer {
  -webkit-column-width:230px;//webkit内核浏览器，列与列之间的宽度
  -moz-column-width:230px;
  -o-colum-width:230px;
  -webkit-column-gap:15px;//webkit内核浏览器，列与列之间的缝隙
  -moz-column-gap:15px;
  -o-column-gap:15px;
  text-align:center;
  width:80%;}
.imagecontainer div.photo {
  display:inline-block;
  width:222px;
  padding-top:4px;
  margin-bottom: 5px;
  img {
  margin-bottom: 10px;
  }
}
.imagecontainer div.spec {
  height: 25px;
  margin-top: -15px;
  .protitle {
    float: left;
    margin-left: 7px;
  }
  .proprice {
    float: right;
    margin-right: 7px;
  }
}
.imagecontainer div.one-pro {
  display: inline-block;
  background-color: #fff;
  margin-bottom: 28px;
  width: 230px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  div.one-pro-inner {
  padding-top: 0;
  }

}

.imagecontainer div.like {
  background: none;
  display: none;
  width: 25px;
  height: 25px;
  color: #d9666f;

  a:hover {
    span.likeinner {
    background: #d9666f;
    color: #fff;
    }
    }
  span.likeinner {
    border-radius: 15px;
    background: #fff;
    padding: 1px 2px 0 1px;
  }
}
.imagecontainer div.unlike {
  background: none;
  display: none;
  width: 25px;
  height: 25px;
}

.imagecontainer div p { padding:0px 10px 0px 10px; margin:0px; line-height:25px; text-align:left; font-size:12px;}

.imagecontainer div a {
  color:#d9666f;
}

.imagecontainer .spec {
  a {
  color: #666;
  }
  .proprice {
  color:#78c042;
  font-size:14px;
  }
}