.sign-row {
	width: 665px;
	margin: 0 auto 0;
	padding-top: 21px;
	clear: left;
	.form-container {
		padding: 4px;
		background-color: #edede7;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		.form-container-inner {
		border: 1px solid #dadcdc;
		background-color: #fff;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		.heading {
			background-color: #f2f2de;
			padding: 4px;
			width: auto;
			border-top: 1px solid #fff;
			moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}
		.signup {
			margin-top: 40px;
			#sup {
			text-align: left;
			margin-left: 166px;
			}
			.input-prepend {
				clear: both;
				margin: 8px 6px 8px 6px;
				input {
					width: 300px;
					height: 30px;
			}
			}
			.signup-submit {
				margin-top: 40px;
				input {
				width:200px;
				height: 35px;
				}

			
		}
		}
		}
	}
}
.signup .signup-error {
	padding-left: 80px;
}